{% extends "::base.html.twig" %}

{% block title %}dane pacjenta i przekazanie pacjenta{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
<br>
<br>
<a href="{{ path('homepage') }}">powrót do strony głównej</a>
{% endblock %}